# Données locales (trop lourdes pour GitHub)
data/
*.xlsx
*.pdf
*.csv

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# Variables d'environnement
.env
.env.*

# OS
.DS_Store
Thumbs.db
.vscode/
.idea/
